.ProductGalleryWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 400px;
    margin: auto;
}

.ProdcutMainImg {
    width: 400px;
}

.ProductGallerySlider {
    display: flex;
    overflow-x: hidden; /* 超出隐藏 */
    scroll-behavior: smooth;
    cursor: grab;
    user-select: none;
    /*width: 100%;*/
    width: 400px;
    gap: 10px; /* 图片之间的间距 */
    padding: 10px;
}

.ProductGalleryImg {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 8px;
}

.ArrowButton {
    background: white;
    border: none;
    cursor: pointer;
    padding: 8px;
    border-radius: 50%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.ArrowButton:hover {
    transform: scale(1.1);
}

.ArrowButton:first-child {
    left: -30px;
}

.ArrowButton:last-child {
    right: -30px;
}
