
.bannerSlider {
    width: 102%;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    padding: 5% 10%;
    background: #bcbcbc;
}

.bannerSliderRight {
    width: 35%;
}

.bannerSliderLeft {
    width: 55%;
}
