
.CreateEditProduct {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.CreateEditProductRow {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    gap: 20px
}

.CreateEditProductTopBar {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 20px;
    gap: 20px;
    border: 2px solid #cfcfcf;
}

.CreateEditProductTopInput {
    width: 100%;
    font-size: 24px;
    padding: 15px 25px;
}

.CreateEditProductContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 20px;
    gap: 20px;
}



.imgGrid {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.imgWrapper {
    position: relative;
    width: 100px;
    height: 100px;
}

.CreateEditProductImg {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.deleteBtn {
    position: absolute;
    top: -5px;
    right: -5px;
    background: #cfcfcf;
    color: white;
    border: none;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
    padding: 0;
}



